# ===== Java / Spring Boot =====
*.class
*.log
*.jar
*.war
*.ear

/backend/bin/
/backend/target/
/backend/build/

# ===== Maven =====
# keep ignoring target and .metadata, but source code is not affected
target/
.metadata/
bin/


# =========================
# ASP.NET Core / .NET
# =========================
backend/Customer/.vs/
backend/Customer/bin/
obj/
*.user
*.suo

# App settings (do not commit secrets)


# ===== Node / React =====
node_modules/
build/
dist/

# ===== IDE =====
.vscode/
.idea/
*.iml

# Node
node_modules/


backend/Customer/.vs
backend/Customer/Customer/obj/Release/



backend/.settings/
backend/Customer/.project

