.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;      /* horizontal center */
  align-items: flex-start;      /* start from top */
  padding-top: 80px;            /* control how upper you want */
  background-color: #f4f6f9;
}

.auth-form {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.auth-form h4 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-form button {
  margin-top: 10px;
}
