.mess-info-form {
  margin-top: 10px;
}

.info-row {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  margin-bottom: 22px;
}

.info-row label {
  font-size: 16px;
  font-weight: 600;
}

.info-row input {
  width: 100%;
  padding: 14px 16px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #cfd8e3;
  background-color: #f8fbff;
}

.time-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.time-box input {
  width: 160px;
}

.form-buttons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.primary-btn {
  background: #0d6efd;
  color: #fff;
  border: none;
  padding: 12px 26px;
  border-radius: 8px;
  cursor: pointer;
}

.secondary-btn {
  background: #6c757d;
  color: #fff;
  border: none;
  padding: 12px 26px;
  border-radius: 8px;
  cursor: pointer;
}

.form-message {
  margin-top: 15px;
  font-weight: 500;
}
